:root{
  --color:#167896 !important;
}
/* RESET CSS */
*{
box-sizing:border-box;
padding: 0;
margin: 0;
}
img{
  width: 100%;
}
body {
min-height: 100vh;
color: var(--color) !important;
}
a{
  text-decoration: none;
color: #fff !important;
}
/* FIN RESET CSS */


/* navbar  */

.navbar-expand{
  justify-content: space-between !important;
}


.contenido{
  padding: 20px;
  display: grid;

  background: #aaa;
  grid-template-columns: repeat(auto-fit, minmax(210px,1fr));
  grid-auto-rows: auto;
  gap: 10px;
}
.card{
  text-align: center;
}

.card-img{
  width: 130px;
  margin: auto;
}

.card-title{
  text-align: center;
}









/* .wrapper {
  padding-top: 30px;
}
  
body h3 {
  margin-bottom: 25px;
} */
/* .container-board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 180px;
}

.box-board {
  width: 25%;
} */
/* .lol {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  width: '30rem';
	margin: 1.5%;	
	background-image: linear-gradient(180deg, #eee, #fff 200px, #fff);
} */
/* 	  
  
.navbar-brand a {
  color: #ffffff;
}
  
.form-wrapper,
.table-wrapper {
  max-width: 500px;
  margin: 0 auto;
}
  
.table-wrapper {
  max-width: 700px;
}
  
.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
} */
  
/* .edit-link:hover {
  text-decoration: none;
  color: #ffffff;
} */
  
/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
  
/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */